body { 
text-align: center; 
color: #fff;
font-family: 'Open Sans Condensed', sans-serif;

background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(51,51,51,1) 36%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(36%,rgba(51,51,51,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(51,51,51,1) 36%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(51,51,51,1) 36%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(51,51,51,1) 36%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(51,51,51,1) 36%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


/* #wrapper { 
display: block; border: 1px #a2a2a2 solid; width:90%; margin:0px auto; 
}
*/


#header { 

 }


#content { 
width: 100%; 
height: 60%;
border: 2px #a2a2a2 solid; 
float: left;
background: url("images/food.jpg") no-repeat;;
background-size: cover;
}


#sidebar-left { 
width: 23%; 
border: 2px #a2a2a2 solid; 
float: left; 
}

#sidebar-middle { 
width: 23%;
margin-left: 10%;
margin-right: 15%;
border: 2px #a2a2a2 solid; 
float: right; 
}

#sidebar-right { 
width: 23%; 
border: 2px #a2a2a2 solid; 
float: right; 
}


#delimiter { 
clear: both; 
}


#footer { 
border: 2px #a2a2a2 solid; 
}

#logo {
 float: left;
 }

/* Nav */

ul {
    list-style-type: none;
    padding-top: 5px;
}

li {
    margin-left: 75px;
    margin-right: 75px;
    display: inline;
}

a:hover, a:active {
    background-color: #484848;
}

a:link, a:visited {
    color: #fff;
    padding: 4px;
    text-decoration: none;
}